Repository ACTRIS-CCRES/raw2l1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-to-conda, pip-to-conda-dev

.pre-commit-config.yaml:

minimum_pre_commit_version: 2.15.0
default_stages: [
    commit,
    merge-commit,
    push,
    prepare-commit-msg,
    commit-msg,
    post-checkout,
    post-commit,
    post-merge,
    post-rewrite
]
repos:
-   repo: local
    hooks:
    -   id: pip-to-conda
        name: Generate pip dependency from conda
        language: python
        entry: python scripts/generate_pip_deps_from_conda.py environments/environment.yml requirements/requirements.txt
        files: ^(environments/environment.yml|requirements/requirements.txt)$
        pass_filenames: false
        additional_dependencies: [tomli, pyyaml]
    -   id: pip-to-conda-dev
        name: Generate pip dependency from conda for dev
        language: python
        entry: python scripts/generate_pip_deps_from_conda.py environments/environment-dev.yml requirements/requirements-dev.txt
        files: ^(environments/environment-dev.yml|requirements/requirements-dev.txt)$
        pass_filenames: false
        additional_dependencies: [tomli, pyyaml]

remove unneeded requirements
  requirements/base.txt
  requirements/dev.txt
  requirements/doc.txt
  requirements/requirements.txt
Due: pip-to-conda

update environments
  environments/environment-dev.yml
  environments/environment.yml
Due: pip-to-conda, pip-to-conda-dev

update requirements
  requirements/requirements-dev.txt
  requirements/requirements.txt
Due: pip-to-conda, pip-to-conda-dev

update CI to use new requirements
  .gitlab-ci.yml
Due: none

update dev environment
  environments/environment-dev.yml
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

correct dev requirements
  environments/environment-dev.yml
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

add nose to dev dependencies
  environments/environment-dev.yml
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

change name of conda dev env
  environments/environment-dev.yml
Due: pip-to-conda-dev

Minor updates of documentation
  README.md
  raw2l1/doc/source/prerequisites.rst
Due: none

correct style with ruff autofix
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/reader/rpg_hatpro_brightness_temperature.py
  raw2l1/reader/rpg_hatpro_brightness_temperature_bl.py
  raw2l1/reader/sigmaspace_minimpl.py
  raw2l1/reader/sirta_ipral.py
Due: none

add ruff configuration
  ruff.toml
Due: none

add source of requirements generator
  scripts/generate_pip_deps_from_conda.py
Due: none

reformat code using black
  raw2l1/reader/campbellscientific_cs135.py
  raw2l1/reader/leosphere_wls70_10min.py
  raw2l1/reader/leosphere_wls70_10s.py
  raw2l1/reader/libhatpro.py
  raw2l1/reader/lufft_chm15k_nimbus-uk-metoffice.py
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/reader/rpg_hatpro_absolute_humidity.py
  raw2l1/reader/rpg_hatpro_air_temp.py
  raw2l1/reader/rpg_hatpro_air_temp_bl.py
  raw2l1/reader/rpg_hatpro_brightness_temperature.py
  raw2l1/reader/rpg_hatpro_brightness_temperature_bl.py
  raw2l1/reader/rpg_hatpro_clwvi.py
  raw2l1/reader/rpg_hatpro_prw.py
  raw2l1/reader/sigmaspace_minimpl.py
  raw2l1/reader/test_reader.py
  raw2l1/reader/vaisala_cl.py
  raw2l1/reader/vaisala_cl_swiss_airport.py
  raw2l1/test/test_arg_parser.py
  raw2l1/test/test_chm15k_nimbus-uk-metoffice.py
  raw2l1/test/test_chm15k_nimbus.py
  raw2l1/test/test_cs135.py
  raw2l1/test/test_logs.py
  raw2l1/test/test_netcdf4.py
  raw2l1/test/test_rpg_hatpro.py
  raw2l1/test/test_sigmaspace_minimpl.py
  raw2l1/test/test_timeliness.py
  raw2l1/test/test_vaisala.py
  raw2l1/test/test_vaisala_eprofile.py
  raw2l1/test/test_vaisala_sirta.py
  raw2l1/tools/arg_parser.py
  raw2l1/tools/check_conf.py
  raw2l1/tools/common.py
  raw2l1/tools/create_netcdf.py
  raw2l1/tools/read_overlap.py
Due: none

add lint stage to gitlab-ci
  .gitlab-ci.yml
Due: none

update gitlab-ci.yml
  .gitlab-ci.yml
Due: none

corrct paths for lint
  .gitlab-ci.yml
Due: none

test code quality report
  .gitlab-ci.yml
Due: none

try to improve code quality
  .gitlab-ci.yml
Due: none

activate all stages in gitlab-ci
  .gitlab-ci.yml
Due: none

correct error detected by ruff
  raw2l1/reader/campbellscientific_cs135.py
  raw2l1/reader/lufft_chm15k_nimbus-uk-metoffice.py
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/reader/sirta_ipral.py
  raw2l1/reader/vaisala_cl.py
  raw2l1/reader/vaisala_cl_swiss_airport.py
  raw2l1/test/test_leosphere_wls70.py
  raw2l1/tools/arg_parser.py
  raw2l1/tools/check_conf.py
Due: none

Added CL31 and CL51 overlap function
  raw2l1/conf/conf_vaisala_cl31_LMU.ini
  raw2l1/conf/conf_vaisala_cl51_LMU.ini
  raw2l1/reader/vaisala_cl31_LMU.py
Due: none

changed CL31 overlap file
  raw2l1/conf/conf_vaisala_cl31_LMU.ini
Due: none

correct except
  raw2l1/tools/create_netcdf.py
Due: none

remove nose from dependencies
  environments/environment-dev.yml
  raw2l1/test/test_timeliness.py
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

correct ruff warnings
  raw2l1/test/test_timeliness.py
Due: none

correct ruff warnings
  raw2l1/reader/vaisala_ct25k.py
Due: none

correct compatibility of reader with numpy 1.20+
  raw2l1/reader/vaisala_ct25k.py
Due: none

update readme
  README.md
Due: none

update CHANGELOG
  CHANGELOG
Due: none

Correct bug in CL61 configuration example
  CHANGELOG
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
  raw2l1/test/test_vaisala_cl61.py
Due: none

[cl61] update reader - first version compatible with v1.2.7
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/reader/vaisala_cl61.py
  raw2l1/test/input/vaisala_cl61/cl61-v1.2_T2920393_20230305_190256.nc
  raw2l1/test/input/vaisala_cl61/cl61-v1.2_T2920393_20230305_190756.nc
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
  raw2l1/test/test_vaisala_cl61.py
Due: none

correct typos
  raw2l1/reader/vaisala_cl61.py
Due: none

update doc configuration - move to docs dir at root of rpoject - change theme - update dev dependencies - use markdown instead of rst
  docs/Makefile
  docs/make.bat
  docs/scripts/__init__.py
  docs/scripts/default.mplstyle
  docs/scripts/plot.py
  docs/source/_static/css/custom.css
  docs/source/assets/actris_logo.png
  docs/source/assets/logo-actris-gray.png
  docs/source/assets/logo-actris-white.png
  docs/source/assets/logo_actris_ccress.png
  docs/source/assets/logo_sirta-ipsl.png
  docs/source/assets/logo_sirta_navbar.png
  docs/source/conf.py
  docs/source/get-started/configure.md
  docs/source/get-started/index.md
  docs/source/get-started/install.md
  docs/source/get-started/running.md
  docs/source/index.md
  docs/source/readers/index.md
  environments/environment-dev.yml
  raw2l1/doc/Makefile
  raw2l1/doc/make.bat
  raw2l1/doc/source/_templates/layout.html
  raw2l1/doc/source/conf.py
  raw2l1/doc/source/configuration.rst
  raw2l1/doc/source/index.rst
  raw2l1/doc/source/prerequisites.rst
  raw2l1/doc/source/readers.rst
  raw2l1/doc/source/running.rst
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

update copyright
  docs/source/conf.py
Due: none

add gitlab-ci to deploy doc on gitlab pages
  .gitlab-ci.yml
Due: none

correct error in variable name in cl61 conf
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
Due: none

Updated chm15k LMU reader and CL61 config
  raw2l1/conf/conf_vaisala_cl61_LMU.ini
  raw2l1/reader/lufft_chm15k_nimbus_LMU.py
Due: none

updated cs135
  raw2l1/reader/campbellscientific_cs135_LMU.py
Due: none
