Repository ACTRIS-CCRES/raw2l1: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-to-conda, pip-to-conda-dev

pip-to-conda:
  name: Generate pip dependency from conda
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py environments/environment.yml requirements/requirements.txt
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

pip-to-conda-dev:
  name: Generate pip dependency from conda for dev
  language: python
  entry: python scripts/generate_pip_deps_from_conda.py environments/environment-dev.yml requirements/requirements-dev.txt
  pass_filenames: false
  additional_dependencies:
  - tomli
  - pyyaml

prevent concurrent runs of the same workflow for ruff job
  .github/workflows/ruff.yaml
Due: none

Migration to GitHub
  .coveragerc
  .github/workflows/ci.yaml
  .github/workflows/ruff.yaml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  environments/environment-dev.yml
  pytest.ini
  raw2l1/reader/leosphere_wls70_10min.py
  raw2l1/reader/leosphere_wls70_10s.py
  raw2l1/reader/leosphere_wls7_10min.py
  raw2l1/reader/leosphere_wls7_1s.py
  raw2l1/reader/lib/libvaisala.py
  raw2l1/reader/lufft_chm15k_nimbus-uk-metoffice.py
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/reader/rpg_hatpro_air_temp_bl.py
  raw2l1/reader/rpg_hatpro_brightness_temperature.py
  raw2l1/reader/rpg_hatpro_brightness_temperature_bl.py
  raw2l1/reader/sigmaspace_minimpl.py
  raw2l1/reader/sirta_ipral.py
  raw2l1/reader/vaisala_cl.py
  raw2l1/reader/vaisala_cl61.py
  raw2l1/reader/vaisala_cl_swiss_airport.py
  raw2l1/reader/vaisala_ct25k.py
  raw2l1/tools/check_conf.py
  raw2l1/tools/create_netcdf.py
  raw2l1/tools/lidar_reader.py
  raw2l1/tools/log.py
  requirements/requirements-dev.txt
  scripts/generate_pip_deps_from_conda.py
Due: pip-to-conda-dev

update bagdes - correct path - add licence
  README.md
Due: none

add badges for issues and PR
  README.md
Due: none

feat: update ruff - update to ruff 0.3.2 - update ruff.toml - some files were modified
  .pre-commit-config.yaml
  raw2l1/reader/sirta_ipral.py
  raw2l1/reader/vaisala_cl61.py
  raw2l1/test/test_lidar_reader.py
  raw2l1/test/test_vaisala_cl61.py
  raw2l1/test/test_vaisala_ct25k.py
  ruff.toml
  scripts/generate_pip_deps_from_conda.py
Due: none

update ruff version in requirements
  environments/environment-dev.yml
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

feat: update dependencies - remove python 3.8 and 3.9 - update CI
  .github/workflows/ci.yaml
  .github/workflows/ruff.yaml
  environments/environment-dev.yml
  environments/environment.yml
Due: pip-to-conda, pip-to-conda-dev

Update ruff version (#60)
  .pre-commit-config.yaml
  environments/environment-dev.yml
  raw2l1/reader/sirta_ipral.py
  raw2l1/reader/vaisala_cl61.py
  raw2l1/test/test_lidar_reader.py
  raw2l1/test/test_vaisala_cl61.py
  raw2l1/test/test_vaisala_ct25k.py
  requirements/requirements-dev.txt
  ruff.toml
  scripts/generate_pip_deps_from_conda.py
Due: pip-to-conda-dev

fix: coverage in CI
  .github/workflows/ci.yaml
Due: none

remove dedicted coverage job
  .github/workflows/ci.yaml
Due: none

feat: update dependencies (#61)
  .github/workflows/ci.yaml
  .github/workflows/ruff.yaml
  environments/environment.yml
Due: pip-to-conda

remove unneeded debug print
  raw2l1/reader/lufft_chm15k_nimbus.py
Due: none

fix: #63
  raw2l1/reader/lufft_chm15k_nimbus.py
Due: none

feat: CHM15k : add 'scaling' factor to L1 files #59
  raw2l1/conf/conf_lufft_chm15k-ukmo_eprofile.ini
  raw2l1/conf/conf_lufft_chm15k_eprofile.ini
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/test/conf/conf_lufft_chm15k-ukmo_eprofile.ini
  raw2l1/test/conf/conf_lufft_chm15k_eprofile.ini
  raw2l1/test/test_chm15k_nimbus.py
Due: none

[cl61] update reader - first version compatible with v1.2.7
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/reader/vaisala_cl61.py
  raw2l1/test/input/vaisala_cl61/cl61-v1.2_T2920393_20230305_190256.nc
  raw2l1/test/input/vaisala_cl61/cl61-v1.2_T2920393_20230305_190756.nc
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
  raw2l1/test/test_vaisala_cl61.py
Due: none

correct error in variable name in cl61 conf
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
Due: none

correct typos
  raw2l1/reader/vaisala_cl61.py
Due: none

try to fix coverage configuration
  .coveragerc
  .github/workflows/ci.yaml
Due: none

update doc configuration - move to docs dir at root of rpoject - change theme - update dev dependencies - use markdown instead of rst
  docs/Makefile
  docs/make.bat
  docs/scripts/__init__.py
  docs/scripts/default.mplstyle
  docs/scripts/plot.py
  docs/source/_static/css/custom.css
  docs/source/assets/actris_logo.png
  docs/source/assets/logo-actris-gray.png
  docs/source/assets/logo-actris-white.png
  docs/source/assets/logo_actris_ccress.png
  docs/source/assets/logo_sirta-ipsl.png
  docs/source/assets/logo_sirta_navbar.png
  docs/source/conf.py
  docs/source/get-started/configure.md
  docs/source/get-started/index.md
  docs/source/get-started/install.md
  docs/source/get-started/running.md
  docs/source/index.md
  docs/source/readers/index.md
  environments/environment-dev.yml
  raw2l1/doc/Makefile
  raw2l1/doc/make.bat
  raw2l1/doc/source/_templates/layout.html
  raw2l1/doc/source/conf.py
  raw2l1/doc/source/configuration.rst
  raw2l1/doc/source/index.rst
  raw2l1/doc/source/prerequisites.rst
  raw2l1/doc/source/readers.rst
  raw2l1/doc/source/running.rst
  requirements/requirements-dev.txt
Due: pip-to-conda-dev

update copyright
  docs/source/conf.py
Due: none

clean doc configuration and organization
  docs/scripts/__init__.py
  docs/scripts/default.mplstyle
  docs/scripts/plot.py
  docs/source/assets/logo_actris_ccres.png
  docs/source/conf.py
Due: none

fix: unused tests in chm15k
  raw2l1/test/test_chm15k_nimbus.py
Due: none

feat: add option to filter output filter dates
  environments/environment-dev.yml
  environments/environment.yml
  raw2l1/tools/arg_parser.py
  raw2l1/tools/create_netcdf.py
  requirements/requirements-dev.txt
  requirements/requirements.txt
Due: pip-to-conda, pip-to-conda-dev

fix: tests for new arg --filter-day
  raw2l1/test/test_arg_parser.py
Due: none

fix: ruff toml configuration file
  ruff.toml
Due: none

fix: ruff detected errors
  raw2l1/reader/lufft_chm15k_nimbus-uk-metoffice.py
  raw2l1/reader/lufft_chm15k_nimbus.py
  raw2l1/reader/vaisala_cl.py
  raw2l1/reader/vaisala_cl_swiss_airport.py
  raw2l1/reader/vaisala_ct25k.py
  raw2l1/tools/arg_parser.py
  raw2l1/tools/check_conf.py
  raw2l1/tools/create_netcdf.py
  raw2l1/tools/utils.py
Due: none

add `_FillValue` attribute in cl61 - some variables were missing the attribute
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
Due: none

cl61: update long_name attributes for rcs_0, rcs_1 and rcs_2
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
Due: none

cl61: add tilt angle and azimuth
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
Due: none

cl61: add new variables in conf file - cloud_calibration_factor - cloud_calibration_factor_user - fog_detection - cloud_thickness - cloud_penetration_depth - vertical_visibility
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
Due: none

cl61: change long name linear_depol_ratio
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
Due: none

cl61: update test configuration files
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
Due: none

CL61: add prf and wavelength
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
Due: none

cl61: correct bugs in configuration files
  raw2l1/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile.ini
  raw2l1/test/input/vaisala_cl61/conf/conf_vaisala_cl61_eprofile_force-loc.ini
Due: none

fix GH actions
  .github/workflows/ruff.yaml
Due: none

prevent use of numpy 2
  environments/environment-dev.yml
  environments/environment.yml
  requirements/requirements-dev.txt
  requirements/requirements.txt
Due: pip-to-conda, pip-to-conda-dev

update CHANGELOG AND README
  CHANGELOG
  README.md
Due: none

bump version to v3.2.0
  raw2l1/conf/conf_leosphere_wls70_10min.ini
  raw2l1/conf/conf_leosphere_wls70_10s.ini
  raw2l1/conf/conf_leosphere_wls7_10min.ini
  raw2l1/conf/conf_leosphere_wls7_1s.ini
  raw2l1/conf/conf_rpg_hatpro_bl00-l2-ta_toprof_netcdf4.ini
  raw2l1/conf/conf_rpg_hatpro_l1-tb_toprof_netcdf4.ini
  raw2l1/conf/conf_rpg_hatpro_l2-clwvi_toprof_netcdf4.ini
  raw2l1/conf/conf_rpg_hatpro_l2-hua_toprof_netcdf4.ini
  raw2l1/conf/conf_rpg_hatpro_l2-prw_toprof_netcdf4.ini
  raw2l1/conf/conf_rpg_hatpro_l2-ta_toprof_netcdf4.ini
  raw2l1/raw2l1.py
  raw2l1/test/input/leosphere_wls/conf/conf_leosphere_wls70_10min.ini
  raw2l1/test/input/leosphere_wls/conf/conf_leosphere_wls70_10s.ini
  raw2l1/test/input/leosphere_wls/conf/conf_leosphere_wls7_10min.ini
  raw2l1/test/input/leosphere_wls/conf/conf_leosphere_wls7_1s.ini
  raw2l1/test/input/rpg_hatpro/conf_rpg_hatpro_l1-tb_toprof_netcdf4.ini
  raw2l1/test/input/vaisala_cl/conf_vaisala_cl31-swiss-airport_toprof_netcdf4.ini
Due: none

fix CI badge
  README.md
Due: none

Path conditions:
  pip-to-conda: any of: ^(environments/environment.yml|requirements/requirements.txt)$
  pip-to-conda-dev: any of: ^(environments/environment-dev.yml|requirements/requirements-dev.txt)$
